body{
    background-color: #FFFBE0;
    position: relative;
}
.title{
    text-align: center;
    color:#006370;
    font-size: 140px;
    font-family: 'Modak',Arial, Helvetica, sans-serif;
    font-weight: 450;
    position: relative;
    margin-bottom: 100px;

}

.container{
    display:flex;
    flex-direction: row;
}

.inline a{
    text-decoration: none;
    padding-right:20px;
    padding-left:20px;
    color:#006470;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
}

.inline a:hover{
    opacity: 0.5;
}

.line1{
    background-color:#006370;
    font-size: 3px;
    color:#006370;
    margin-top: 15px;
    height:30px;
}

.startbutton{
    display:block;
    padding:15px;
    padding-left: 40px;
    padding-right:40px;
    background-color: #CF726B;
    font-size:35px;
    margin:auto;
    border-radius: 50px;
    color:#FFFBE0;
    font-family: 'Raleway';
    font-weight: 700;
    position: relative;
    border:none;
}

.startbutton:hover{
    
    background-color: #E99690;
}

.logos{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 80px;

}
.line2{
    background-color:#006370;
    font-size: 4px;
    color:#006370;
    margin-top: 15px;
    height:50px;
}

.NP{
    width:200px;
    margin-left:40px;
}

.complogo{
    width:50px;
    margin-right:60px;

}

.campus{
    
    left:10%;
    position: absolute;
    top:5%;
    z-index: -3;
}


.intro{
    text-align: center;
    font-size: 15px;
    padding-top: 50px;
    color:#793B36;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#anim{
    position:absolute;
    top:18%;
    left:53%;
    width: 300px; 
    height: 300px;
}

/*Questions page*/
.form{
    display:flex;
    justify-content: center;
}
header{
    display:block;
    color:#006370;
    align-content: flex-start;
    
}
ul{
    list-style-type:none;
}
li{
    float:left;
}
li a{
    display:block;
    text-align:center;
    padding:10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
li a:hover{
    background-color:white
}
form{
    align-content: center;
    padding: 30px;
    display:flex;
    display:block;
    align-content: center;
}
#question{
    width:70%;
    height:100px;
}
label{
    font-family: 'Raleway', sans-serif;
}
.question{
    text-align: center;
    color:#006370;
    font-size: 100px;
    font-family: 'Modak';
    font-weight: 450;
    position: relative;
}
#subbutton{
    
    color:#FFFBE0;
    border-radius: 20px;
    background-color: #793B36;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:none;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size:15px;
    margin-left:65%;
    margin-top:20px;
    
}


/* username section*/
.namesect{
    display:none;
    justify-content: center;
    padding-top:50px;
}

label {
    padding-right:10px;
    font-size: 25px;
    color:#793B36;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

input#username{
    width:250px;
    
    border-color: #793B36;

    height:35px;
   
    border-radius: 5px;
}

input.submit1{
    color:#FFFBE0;
    border-radius: 20px;
    background-color: #793B36;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:none;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size:15px;
    margin-left:61%;
    margin-top:20px;
    display: none;
    
}

.submit1:hover{
    color:#793B36;
    background-color: #FFFBE0;
}


/* template 1 portion */

.janice{
    position: absolute;
    width:70%;
    left:30px;
    z-index: -2;
    
}

.bubble {

    position: relative;
    background:#D9A6A2;
    color:#FFFBE0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    width: 550px;
    height: 300px;
    border-radius: 50px;
    margin-left:45%;
    margin-right: auto;


    padding:35px;
    margin-top: 50px;
   
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 76px 80px;
    border-color: transparent transparent #D9A6A2 transparent;
    top: 24%;
    left: -35px;
    margin-top: -28px;
    
    
}

.options{
    display:flex;
    flex-direction: row;
   justify-content: space-evenly;
    
}

.standardbutton{
    display:block;
    padding:15px;
    padding-left:70px;
    padding-right:70px;
 
    margin-top: 230px;
    background-color: #CF726B;
    font-size:30px;
    border-radius: 50px;
    color:#FFFBE0;
    font-family: 'Raleway';
    font-weight: 700;
    position: relative;
    border:none;
}

a{
    text-decoration: none;
}



.standardbutton:hover{
   
    background-color: #E99690;
    
}


.arrowbk{
    display:flex;
    flex-direction:arrow;
    margin-top: 50px;
   
}
.back{
    margin-left:50px;
   margin-right:20px;
    width:40px;
    margin-top: 15px;
}

.backt{
    font-size:20px;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    color:#793B36;
    
    
   
}

/* friend username section*/


.fnamesect{
    display:flex;
    flex-direction:column;
    margin-top: 60px;
   
}


input.submit2{
    width:100px;
    border-radius: 20px;
    color:#FFFBE0;
    background-color: #793B36;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:none;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size:15px;
    margin-left: 1000px;
    margin-top: 50px;
    margin-bottom:230px;
}

label.f{
    margin-left:725px;
    margin-bottom: 10px;
    
}

.add{
    width:50px;
    height:50px;
    position:absolute;
    margin-left:1045px;
    margin-top: 70px;
    z-index: 1;
}

.inputs{
    display:flex;
    margin-left: 300px;
    flex-direction: column;
}



/*schools section*/
.schbackground{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#building{
    z-index: -10;
    position: absolute;
}

.dropbtn{
    background-color: white;
    color:#870F06;
    padding-left:10px;
    padding-right:10px;
    padding-top: 8px;
    padding-bottom: 10px;
    border:none;
    border-radius: 10px;
    font-size:20px;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    width:630px;
}
#dropicon{
    margin-left:3px;
    margin-right:3px;
    margin-bottom: 0px;
}
.schooldropdownmenu{
    display:flex;
    align-items: center;
    justify-content: center;
}
.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown-content{
    display:none;
    position: absolute;
    background-color: white;
    min-width:630px;
    overflow: auto;
    z-index:1;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size:18px;
}
.dropdown-content a{
    text-decoration:none;
    color:#870F06;
    background-color: white;
    display:block;
    padding:5px;
    height:40px;
}
.dropdown-content a:hover{
    background-color: #E5E5E5;
}
#schdrop{
    color:#870F06;
}
.show{
    display:block;
}
.noitemscollected{
    display:flex;
    align-items: flex-end;
    justify-content:end;
}
#noitemscollected{
    color:#006370;
    font-size: 40px;

}
.speechbubble{
    display:flex;
    align-items: center;
    justify-content: center;
}


#schlogo{
    width:40px;
    height: 35px;
    float:right;
    
}
.school a{
    padding:20px;
}
.locationlink{
    display: none;
    align-items: center;
    justify-content: center;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom:40px;
}


#clue{
    display:none;
}

.imageclue{
    display:none;
    
    justify-content:center;
    align-items: center;
   
}
.reveal{
    display:flex;
    justify-content:center;
    align-items: center;
    margin:10px;
}





/*business section*/
.schoolicon{
    display:flex;
    align-items: flex-end;
    justify-content: end;
}

.baans{
    font-size:20px;
    color: #006370;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:10px;
    margin-bottom: 30px;
    font-family: "Raleway";
    font-weight: 600;
}
.reachbtn{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px;
}
#babtn{
    border-radius:30px;
    padding-left:50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #793B36;
    color:#FAF6DF;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    text-decoration: none;
    border:none;
    font-size:20px;
    font-weight: 600;

}
#babtn:hover{
    background-color:#A7524B;
    
}

.baclue{
    display: flex;
    justify-content: center;
    width:50%;
    

}


/*END GAME*/
.endcontainer{
    display: flex;
    background-image:url(photos/confetti.png)
}

.locicon{
    margin-left:972px;
    height:35px;
    width:25px;
    margin-bottom: 0px;
}
.locationtitle{
    text-align: center;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #870F06;
    margin:0px;
}
.location{
    display:none;
    margin-left:auto;
    margin-right: auto;
    width:40%;
    background-color: #FDE5CD;
    color: #870F06;
    text-align: center;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    padding-left:20px;
    padding-right:20px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    border-radius: 10px;
}
.prizestitle{
    display:none;
    text-align: center;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #006370
}
.prizescollected{
    display:none;
    margin-left:auto;
    margin-right: auto;
    width:40%;
    background-color: #C9ECF1;
    color: #006370;
    text-align: center;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    padding-left:20px;
    padding-right:20px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    border-radius: 10px;
}
.endbackground{
    display:flex;;
    align-items:center ;
    justify-content:center ;
    position: relative;
}
.footerimg{
    display:flex;
    align-items: center;
    justify-content: center;
    display:none;
}
#confetti{
    z-index: -10;
    position:absolute;
}
.titleloc{
    display:none;
}






.backhome{
    display:none;
    align-items: flex-end;
    justify-content: end;
    padding-right:5px;
}
.homebtn{
    border-radius:10px;
    padding-left:40px;
    padding-right:40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BD5859;
    color:#FAF6DF;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    text-decoration: none;
    border:none;
    font-size:25px;
    margin: 10px;
}



/* passcode pop up*/
.passcodecontainer{
    display:none;
    flex-direction: column;
    background-color: #CF726B;
    width:40%;
    position:absolute;
    z-index:1;
    border-radius: 15px;
    height:300px;
    padding:30px;
    top:30%;
    left:30%;
    
}

.passcodecontainer{
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.ptext{
    text-align: center;
    color:#FAF6DF;
    margin-bottom:60px;
    font-size: 35px;
    font-family: "Raleway" Arial, Helvetica, sans-serif;
    font-weight: 600;

}

#passcode{
    width:90%;
    
    border-color: #793B36;

    height:45px;
   
    border-radius: 10px;

}

.passcodesubmit{
    width:18%;
    margin-left:75%;
    margin-top:50px;
    border-radius:25px;
    font-size:20px;
    background-color: #FAF6DF;
    padding:3px;
    border:none;
    color:#793B36;
    font-family: "Raleway";
    font-weight: 600;
}

/* location template*/
.progress1{
    display:flex;
    flex-direction: column;
    
    position:absolute;
    padding:20px; 
    
    margin-top:200px;

}

.bar{
    width:70px;
    margin-left:27px;
}

.bar_in{
    width:24px;
    height:50px;
    position: absolute;
    z-index:1;
    left:44px;
    top:255px;
    margin-left: 27px;


}

.text{
    text-align:center;
    margin-top:0;
    margin-left:25px;
    color:#066370;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
 
    
}
.amt{
    margin-bottom: 0px;
    margin-left:28px;
    font-size:45px;
    color:#066370;
    font-family: "Lucida Sans",Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.placename{
    color:#793B36;
    font-family:"Raleway",Arial, Helvetica, sans-serif; 
   text-align: left;
   font-size: 40px;
   margin-top:350px;
   margin-right:460px;
   font-weight: 100px;
   display:none;
}

/*side MENU*/
.menu {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 2;
    left: 0;
    top: 0;
    background-color: #FAF6DF;
    overflow-x: hidden; 
    transition: 0.5s;
  }
  
  .menuitems {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
   
    font-family: "Raleway",Arial, Helvetica, sans-serif;
  }
  
  .menu h3 {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #870F06;
    display: block; 
    transition: 0.3s; 
  }
  
  
 
  .menu .close {
    position: absolute;
    top: 40px;
    right: 45px;
    font-size: 60px;
  }

 
  @media screen and (max-height: 450px) {
    .menu a {font-size: 20px}
    .menu .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
.line{
    width: 50px;
    height: 5px;
    background-color: #006370;
    margin: 6px 0;
    margin-left:55px;
}
.close{
    color:#006370;
    z-index: 1;
}
.endgame{
    display:flex;
    justify-content:flex-end ;
    align-items: flex-end;
    color:#FAF6DF;
    
    
}
.endbtn{
    border-radius:10px;
    padding-left:50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #793B36;
    color:#FAF6DF;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-weight:600;
    text-decoration: none;
    border:none;
    font-size:20px;
    margin: 40px;
}

.endbtn1{
    border-radius:10px;
    padding-left:50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #793B36;
    color:#FAF6DF;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-weight:600;
    text-decoration: none;
    border:none;
    font-size:20px;
    margin: 40px;
}
.endbtn:hover{
    background-color: #A7524B;
}
.menugrp{
    display:flex;
    align-items: center;
    justify-content: center;
}
.menuline{
    
    width:10%;
    background-color: #793B36;
    border-style: solid;
    border-color: #793B36;
    
}
.menuimg{
    display:flex;
    align-items: center;
    justify-content: center;
}
.checklist{
    top:40%;
    

}

.CLcontent{
    display:none;
}
.tickk0{
    position:absolute;
    z-index:5;
    top:370px;
    left:33%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.tickk1{
   
    position:absolute;
    z-index:5;
    top:527px;
    left:33%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.tickk2{
    
    position:absolute;
    z-index:5;
    top:680px;
    left:33%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.tickk3{
    
    position:absolute;
    z-index:5;
    top:837px;
    left:33%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}



.checkbox{
    
    flex-direction: column;
    position: absolute;
    z-index:5;
    width:30%;
    top:350px;
    left:30%;
}
.square{
    width:80px;
    height:80px;
    background-color: #FFFBE0;
    border-color: #2D3463;
    border-width: 3px;
    margin-bottom: 70px;
    border-style: solid;
    
   
}

.list h3{
    text-align: left;
    margin-bottom: 100px;
    color:#2D3463;
    font-weight: 300;
}

.list{
    position:absolute;
    top:370px;
    left:40%;
    font-size: 40px;
}




/* reveal ans*/
img#ans{
    width:100%;
    margin-top: 20px;
    display:none;
    
}

.cross{
    background-color:#793B36;
    
    position:absolute;
    z-index:1;
    top:5%;
    width:70px;
    height:70px;
    margin-left:50px;
    top:60%;
    display:none;
    
  
}

.cross:before, .cross:after {
    position: absolute;
    
    left: 34px;
    content: ' ';
    height: 70px;
    width: 5px;
    background-color: #ffff;
  }
  .cross:before {
    transform: rotate(45deg);
  }
  .cross:after {
    transform: rotate(-45deg);
  }

/* quiz portion*/
.quiz{
    display:none;
    
    background-color:white;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    border-radius:20px;
    box-shadow: 6px 10px 5px rgba(0,0,0,0.3);
    color:#2D3463;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
}

.quiz2{
    display:none;
    
    background-color:white;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    border-radius:20px;
    box-shadow: 6px 10px 5px rgba(0,0,0,0.3);
    color:#2D3463;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
}
  
.quizT{
 text-align: center;
 font-family: "Raleway",Arial, Helvetica, sans-serif;
 font-size:40px;
 color:#2D3463;
 display: none;
 margin-top: 250px;
}
.quiz label{
    color:#2D3463;
}

.quiz2 label{
    color:#2D3463;
}

.top{
    margin-top:0;
}



/* collection*/
.rays{
    width:40%;
    position:absolute;
    top:4%;
    left:10%;
    width:80%;
    animation-name: example;
    animation-duration: 2s;
    z-index: -1;
}

@keyframes example {
  0% {transform: rotate(0deg);}
  
  100%{transform: rotate(360deg);width:80%;left:10%;}
  
  

  
}
.itemimg{
    position:absolute;
    left:27%;
    top:17%;
    width:40%;
}
.prizeText{
    color:#FFFBE0;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size:40px;
    text-align: center;
    font-weight: bolder;
    background-color: #006370;
    box-shadow: 6px 10px 5px rgba(0,0,0,0.3);
    margin-top: 30px;
    width:500px;
    margin-left: auto;
    margin-right:auto;
    padding:20px;
    border-radius: 20px;
}
.bg{
    display:none;
    position:absolute;
    z-index: 1;
    height:100%;
    width:100%;
    background-color:#FFFBE0;
    top:0px;
    justify-items: baseline;
    
}

.cross1{
    background-color:#006370;
    
    position:absolute;
    z-index:1;
    top:5%;
    width:70px;
    height:70px;
    margin-left:50px;
    top:60%;
    display:none;
    top:20px
  
}

.cross1:before, .cross1:after {
    position: absolute;
    
    left: 34px;
    content: ' ';
    height: 70px;
    width: 5px;
    background-color: #ffff;
  }
  .cross1:before {
    transform: rotate(45deg);
  }
  .cross1:after {
    transform: rotate(-45deg);
  }

/*QUIZ POPUP*/
.quizpopup{
    display:none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:5%;
    left:25%;
    
}
.quizscore{
    height:900px;
    width:700px;
    border-radius:30px;
    border-color:#006370;
    background-color: #FAF6DF;
    border-width:20px;
    border-style: solid;
    display:none;
    flex-direction: column;
    position:absolute;
    z-index:1;
    display: flex;
    
    
}
.quizscore{
    -webkit-animation:fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn{
    from{ opacity: 0;}
    to {opacity: 1;;}
}
@keyframes fadeIn{
    from{opacity: 0;}
    toi {opacity:1};
}
.quizh{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.quiztitle{
    font-family: 'Modak',Arial, Helvetica, sans-serif;
    color:#006370;
    font-size: 70px;
    border:none;
    margin-top:10px;
    text-align: center;
}
.quizresult{
    background-color: #FAF4C7;
    color:#793B36;
    width:60%;
    height:230px;
    border-radius: 20px;
    margin:auto;
    text-align: center;
   padding-bottom: 10px;
    box-shadow:#E5E1C9 10px 10px 5px;
}
.quizresulth{
    font-size:60px;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom:20px;
    padding-top: 15px;
   
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #793B36;
    text-decoration-thickness: 3px;
    
    
}
.stars{
    padding-top:15px;
}
.popupbtn{
    background-color: #793B36;
    color:#FFFBE0;
    border-radius:20px;
    width:130px;
    height:40px;
    font-size: 30px;
    border-style: none;
    font-family:"Raleway",Arial, Helvetica, sans-serif; 
    font-weight: 600;
    margin-left:500px;
    margin-top: 70px;
    
}

#quizresult{
    font-size:100px;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    margin:0;
}
.quizpoints{
    background-color: #FAF4C7;
    color:#793B36;
    width:60%;
    height:230px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow:#E5E1C9 10px 10px 5px;
    margin-top:80px;
    
    
}
#totalpoints4sect{
    font-size: 100px;
    margin:0;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    z-index: 2;
    top:-10px;
}
.stars{
    width:60%;
    height:80px;
}
.quizbtn{
    display:flex;
    align-items: flex-end;
    justify-content:end ;
}
.quizbtn{
    background-color: #793B36;
    color:#FAF4C7;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 40px;
    border-style: none;
    margin-right: 10px;
}
#quizbtn:hover{
    background-color: #A7524B;
}

/*TOTAL ITEMS*/
/*TOTAL ITEMS + POINTS*/
.earned{
    display:block;
    background-color: #FFFBE0;
    width:700px;
    height:300px;
    margin:auto;
}
.textearned{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    margin-top: 200px;
}
.textearned{
    color:#DC7273;
    font-size: 50px;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    
    
}
.pointsearned{
    
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display:none;
}
#textpoints{
    color:#DC7273;
    font-size: 100px;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    margin-top: 0;
    animation: shake 1s infinite;
}

@keyframes shake {
    0%{transform: rotate(-20deg);}
    50%{transform: rotate(20deg);}
    100%{transform: rotate(-20deg);}
  }
.nextpg{
    display:flex;
    align-items: flex-end;
    justify-content: end;
    padding-right:5px;
}
.nexttotalp{
    border-radius:10px;
    padding-left:40px;
    padding-right:40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BD5859;
    color:#FAF6DF;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    text-decoration: none;
    border:none;
    font-size:25px;
    margin: 10px;
    margin-right: 30px;
}
.itemsdisplay{
    display:flex;
    align-items:baseline;
    justify-content: center;
    bottom:0px;
    position: relative;

}
.earnedstar{
    margin:0;
margin-left: 20px;
    margin-bottom: 100px;
    animation: shake 1s infinite;
}

.mapiconText{
    position:absolute;
}
.winnerid{
    margin-right:140px;
}
.friendcirclepts{
   margin-left: 500px;
   position: absolute;
   bottom: 160px;
}
.itemcollectedtext{
    display:flex;
    align-items: center;
    justify-content: center;
}
#itemtext{
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    color:#006370;
    font-size:50px;
    text-align: center;
    background-color:#FFFBE0;
    width:700px;
    margin-top:0px;
    padding-top:40px;
    padding-bottom:40px;
}
.winnercontent{
    margin-right: 10px;
}

#winnerid{
    margin-right:140px;
}
.lunchbox{
    position: absolute;
    z-index:1;
    width:310px;
    height:224px;
    margin-right:50%;
    margin-top:10%;
}
.charger{
   position: absolute;
   z-index: 1;
   width:266px;
   height:166px;
   margin-top:14%;
}
.bag{
    position:absolute;
    z-index:1;
    width:345px;
    height:270px;
    margin-top:6%;

}
.pen{
    position:absolute;
    z-index:1;
    width:345px;
    height:166px;
    margin-right:350px;
    margin-top:17%;
}
.higher1{
    margin-right:20px;
    margin-left:20px;
    height:500px;
    width:270px;
    margin-top:100%;
}
.higher2{
    margin-right:20px;
    margin-left:20px;
    margin-top:100%;
}
.lower1{
    margin-right:20px;
    margin-left:20px;
    margin-top:100%;
}
.lower2{
    margin-left:20px;
    margin-right:20px;
    margin-top:100%;
}
.redthing1{
    height:500px;
}
.redthing2{
    height:500px;
}
.redething3{
    height:500px;
}
.redthing4{
    height:500px;
}

/*SCOREBOARD POPUP*/
.scorenextbtn{
    background-color: #793B36;
    color:#FFFBE0;
    border-radius:20px;
    width:130px;
    height:40px;
    font-size: 30px;
    border-style: none;
    font-family:"Raleway",Arial, Helvetica, sans-serif; 
    font-weight: 600;
    margin-left:500px;
    margin-top: 130px;
    z-index:5;
    position: absolute;
}
.scorepopupcontainer{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.scorepopup{
    height:1200px;
    width:700px;
    border-radius:30px;
    border-color:#006370;
    background-color: #FAF6DF;
    border-width:40px;
    border-style: solid;
    display:none;
    flex-direction: column;
    margin-left:380px;
    margin-right: auto;
    margin-top:30px;
    position: absolute;
 
    
}
.scoreboard{
    -webkit-animation:fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn{
    from{ opacity: 0;}
    to {opacity: 1;;}
}
@keyframes fadeIn{
    from{opacity: 0;}
    toi {opacity:1};
}
.scoreboardh{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.scoretitle{
    font-family: 'Modak',Arial, Helvetica, sans-serif;
    color:#006370;
    font-size: 70px;
    display:inline-block;
}
.poscolumn{
    display:flex;
   
    flex-direction: row;
}

.winnercontent{
    display:inline-block;
    margin-left: 20px;
}

.pointnstar{
    display:inline-flex;
    align-items:flex-end;
    justify-content: end;
    float:right;
}
.runnerupcontent{
    background-color: #A5E8E4;
    color:#870F06;
    width:80%;
    border-radius: 20px;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size:40px;
    height:80px;
    box-shadow:5px 10px 10px 5px  rgba(0,0,0,0.3) inset;
    padding-right: 0;
    display:flex;
    flex-direction: row;
    padding-bottom: 40px;
  
    margin-bottom: 30px;
    text-align: left;
    margin-left:75px ;
}

.scoreboardpoints1{
    margin-left: 200px;
    margin-top: 35px;
    font-size: 50px;
}

.scoreboardstar{
    margin-left: 20px;
    margin-top: 50px;
  
}

.rpoints{
    display:block;
    padding:15px;
    padding-left: 40px;
    padding-right:40px;
    background-color: #CF726B;
    font-size:35px;
    margin:auto;
    border-radius: 50px;
    color:#FFFBE0;
    font-family: 'Raleway';
    font-weight: 700;
    position: relative;
    border:none;
}


/*map in menu*/
#fit {
    display: none;
    position: relative;
    margin-top:0;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color:#FFFBE0 ;
    background: #793B36;
    font-family: "Raleway";
    
    
    }

    #map { 
        position: absolute;
        z-index:-1;
        top: 0;
        bottom: 0; 
        width: 3000px; 
        height:1000px;
        visibility:hidden;
       
        
    }

    .two h3{
        position:relative;
        left:0%;
    }

    .two img{
        position:relative;
        left:0%;
    }

   

    /*media queries*/

    @media (max-width:992px){

        /*index html pg*/
        body {
            min-width: 100%;
            margin: 0;
            padding: 0;
        }
        .campus{
            width:110%;
            height:80%;
            display:flex;
            justify-content: center;
            object-fit: none;
            left:0px;
            margin:0;
            margin-top:30%;
            right:0px;
        }

        .title{
            font-size:160px;
            
            display:flex;
            flex-wrap: wrap;
            text-align: left;
            padding:20px;
        }
        
        .startbutton{
          margin-top:50%;
          
         
        }
        .intro{
            margin-left:30px;
            margin-top: 50px;
            padding-left:30px;
        }
        
        .logos{
            margin-left: 90px;
        }
        #anim{
            
            top:350px;
            
        }

        
        .bubble{
            width:300px;
        }


    
/*location*/
.bubble{
    font-size: 15px;
  padding-right:20px;
  margin-bottom: 150px;
  margin-right: 50px;
  margin-top: 100px;
  
}

.bubble:after{
    left:-40px;
}

.janice{
    margin-right: 100px;
 
  
    margin-top:50px;
}
.bar{
    margin-left:10px;
}
.bar_in{margin-left:10px;
}


.amt{
    margin-left: 10px;
}
.text{
    margin-left:0px;
}
.placename{
    margin-right: 80px;
}
#babtn{
    width:300px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  
}
.quiz h3{
    font-size: 15px;
}
.quizT{
    font-size:30px;
}
.amt{
    font-size: 30px;
}
.back{
    width:30px;
}
.backt{
    font-size: 15px;
}
.baans{
    font-size: 15px;
}
.passcodesubmit{
    font-size: 15px;
    width:100px;
    margin-left: 180px;
}

.dropbtn{
    width:400px;
    margin-right: 80px;
}
.dropdown-content{
    width:400px;
    margin-right: 80px;
}


/*total items*/
.earned{
    display:block;
    margin:auto;
    height:200px;
    width:312px;        
}
.textearned{
    font-size:30px;
    text-align: center;
}#textpoints{
    font-size:509px;
}
#itemtext{
    font-size:30px;
}
.endbackground{
    min-width:100%;
}
.bubble{
    font-size: 30px;
    padding-right:20px;
    margin-bottom: 150px;
}
.itemcollectedtext{
    font-size:20px;
    text-align: center;
}
#next-totalp{
    font-size:15px;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:7px;
}
.endbtn{
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:7px;
}
.pointsearned{
    height:100px;
    width:80px;
    margin-left:5px;
    margin-right:5px;
    margin:auto;
}
.lower1{
    height:240px;
    width:80px;
    margin-left:5px;
    margin-right:5px;
}
.lower2{
    height:240px;
    width:80px;
    margin-left:5px;
    margin-right:5px;
}
.higher1{
    height:300px;
    width:80px;
    margin-right:5px;
    margin-left:5px;
}
.higher2{
    height:300px;
    width:80px;
    margin-left:5px;
    margin-right:5px;
}
.lunchbox{
    width:106px;
    height: 60px;
    margin-top:19%;
}
.charger{
    margin-top:70px;
    width:105px;
    height:56px;
}
.pen{
    width:95px;
    height:99px;
}
.bag{
    width:104px;
    height:85px;
    margin-top:35px;
}
.itemsdisplay{
    display:flex;
    bottom:0px;
    align-items:baseline;
    justify-content: center;
    margin-left:32px;
}
#scorepopup{
    width:383px;
    height:722px;
    border-width:10px;
    align-items:flex-start;
    justify-content:flex-end;
}
.idpopupbtn{
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:7px;
}
}