body{
    background-color: #FFFBE0;
    position: relative;
}
.title{
    text-align: center;
    color:#006370;
    font-size: 140px;
    font-family: 'Modak',Arial, Helvetica, sans-serif;
    font-weight: 450;
    position: relative;
    margin-bottom: 100px;

}

.container{
    display:flex;
    flex-direction: row;
}

.inline a{
    text-decoration: none;
    padding-right:20px;
    padding-left:20px;
    color:#006470;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
}

.inline a:hover{
    opacity: 0.5;
}

.line{
    background-color:#006370;
    font-size: 3px;
    color:#006370;
    margin-top: 15px;
    height:30px;
}

.startbutton{
    display:block;
    padding:15px;
    padding-left: 40px;
    padding-right:40px;
    background-color: #CF726B;
    font-size:35px;
    margin:auto;
    border-radius: 50px;
    color:#FFFBE0;
    font-family: 'Raleway';
    font-weight: 700;
    position: relative;
    border:none;
}

.startbutton:hover{
    color:#CF726B;
    background-color: #FFFBE0;
}

.logos{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 80px;

}
.line2{
    background-color:#006370;
    font-size: 4px;
    color:#006370;
    margin-top: 15px;
    height:50px;
}

.NP{
    width:200px;
    margin-left:40px;
}

.complogo{
    width:50px;
    margin-right:60px;

}

.campus{
    
    left:10%;
    position: absolute;
    top:5%;
    z-index: -2;
}

.intro{
    text-align: center;
    font-size: 15px;
    padding-top: 50px;
    color:#793B36;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#anim{
    position:absolute;
    top:18%;
    left:53%;
}

/*Questions page*/

header{
    display:block;
    color:#006370;
    align-content: flex-start;
    
}
ul{
    list-style-type:none;
}
li{
    float:left;
}
li a{
    display:block;
    text-align:center;
    padding:10px;
    font-family: 'Raleway', sans-serif;
}
li a:hover{
    background-color:white
}
form{
    align-content: center;
    padding: 30px;
    display:flex;
    display:block;
    align-content: center;
}
#question{
    width:70%;
    height:100px;
}
label{
    font-family: 'Raleway', sans-serif;
}
.question{
    text-align: center;
    color:#006370;
    font-size: 100px;
    font-family: 'Modak';
    font-weight: 450;
    position: relative;
}
#subbutton{
    background-color: #FFFBE0;

    
}


/* username section*/
.namesect{
    display:none;
    justify-content: center;
    padding-top:50px;
}

label {
    padding-right:10px;
    font-size: 25px;
    color:#793B36;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

input#username{
    width:250px;
    
    border-color: #793B36;

    height:35px;
   
    border-radius: 5px;
}

input.submit1{
    color:#FFFBE0;
    border-radius: 20px;
    background-color: #793B36;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:none;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size:15px;
    margin-left:61%;
    margin-top:20px;
    display: none;
    
}

.submit1:hover{
    color:#793B36;
    background-color: #FFFBE0;
}


/* template 1 portion */

.bubble {

    position: relative;
    background:#D9A6A2;
    color:#FFFBE0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    width: 550px;
    height: 300px;
    border-radius: 50px;
    margin-left:50%;
    margin-right: auto;


    padding:35px;
    margin-top: 30px;
   
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 76px 80px;
    border-color: transparent transparent #D9A6A2 transparent;
    top: 24%;
    left: -35px;
    margin-top: -28px;
    
    
}

.options{
    display:flex;
    flex-direction: row;
   justify-content: space-evenly;
    
}

.standardbutton{
    display:block;
    padding:15px;
    padding-left:70px;
    padding-right:70px;
 
    margin-top: 150px;
    background-color: #CF726B;
    font-size:30px;
    border-radius: 50px;
    color:#FFFBE0;
    font-family: 'Raleway';
    font-weight: 700;
    position: relative;
    border:none;
}

a{
    text-decoration: none;
}



.standardbutton:hover{
    color:#CF726B;
    background-color: #FFFBE0;
    
}


.arrowbk{
    display:flex;
    flex-direction:arrow;
    margin-top: 80px;
   
}
.back{
    margin-left:50px;
   margin-right:20px;
    width:40px;
    margin-top:65px;
}

.backt{
    font-size:20px;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    color:#793B36;
    
    margin-top:75px;
}

/* friend username section*/


.fnamesect{
    display:flex;
    flex-direction:column;
    margin-top: 10%;
   
}


input.submit2{
    width:100px;
    border-radius: 20px;
    color:#FFFBE0;
    background-color: #793B36;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:none;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size:15px;
    margin-left: 900px;
    margin-top: 50px;
    margin-bottom:100px;
}

label.f{
    margin-left:530px;
    margin-bottom: 10px;
    
}

.add{
    width:50px;
    height:50px;
    position:absolute;
    margin-left:970px;
    margin-top: 70px;
    z-index: 1;
}

.inputs{
    display:flex;
    justify-content: center;
    flex-direction: column;
}



/*schools section*/
.schdropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.schdropbtn:hover, .schdropbtn:focus {
    background-color: #2980B9;
}
  
.schdropdown {
    position: relative;
    display: inline-block;
}
  
.schdropitems {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.schdropitems a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.schdropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

.noitemscollected{
    display:flex;
    align-items: flex-end;
    justify-content:end;
}
#noitemscollected{
    color:#006370;
    font-size: 40px;

}
.speachbubble{
    display:flex;
    align-items: center;
    justify-content: center;
}
.dropdown{
    display:flex;
    align-items: center;
    justify-content: center;
}
#dropdownMenuButton{
    background-color: white;
    color:#870F06;
    border:none;
    width:460px;
}
.dropdown-menu{
    width:460px;
}
#schlogo{
    width:40px;
    height: 35px;
    float:right;
    
}
.school a{
    padding:20px;
}



/*business section*/
.schoolicon{
    display:flex;
    align-items: flex-end;
    justify-content: end;
}
.imageclue{
    display:flex;
    justify-content:center;
    align-items: center;
}


.baans{
    font-size:20px;
    color: #006370;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:10px;
    margin-bottom: 30px;
    font-family: "Raleway";
    font-weight: 600;
}
.reachbtn{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px;
}
#babtn{
    border-radius:30px;
    padding-left:50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #793B36;
    color:#FAF6DF;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    text-decoration: none;
    border:none;
    font-size:20px;
    font-weight: 600;
    

}
#babtn:hover{
    background-color:#A7524B;
    
}

.baclue{
    display: flex;
    justify-content: center;
    width:50%;
    

}


/*END GAME*/
.endcontainer{
    display: flex;
    background-image:url(photos/confetti.png)
}
.homebtn{
    color:#FFFBE0;
    background-color:#BD5859;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 30px;;
}

.homebtn:hover{
    color:#FFFBE0;
    background-color: #AE5750;
}
.endgamebtn{
    display:flex;
    justify-content: end;
    align-items:flex-end ;
}

.locicon{
    margin-left:972px;
    height:35px;
    width:25px;
    margin-bottom: 0px;
}
.locationtitle{
    text-align: center;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #870F06;
    margin:0px;
}
.location{
    margin-left:auto;
    margin-right: auto;
    width:40%;
    background-color: #FDE5CD;
    color: #870F06;
    text-align: center;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    padding-left:20px;
    padding-right:20px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    border-radius: 10px;
}
.prizestitle{
    text-align: center;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #006370
}
.prizescollected{
    margin-left:auto;
    margin-right: auto;
    width:40%;
    background-color: #C9ECF1;
    color: #006370;
    text-align: center;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    padding-left:20px;
    padding-right:20px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    border-radius: 10px;;
}
.cameraimg{
    z-index:1;
    margin-right: 90%;
    margin-left:500px;
}
.cameraimg{
    display:flex;
    margin-right: 90%;
    position: relative;
}
#camimg{
    z-index:1;
    position: absolute;
}
.endbackground{
    display:flex;
    align-items:center ;
    justify-content:center ;
    position: relative;
}
#confetti{
    z-index: -10;
    position:absolute;
}



/* passcode pop up*/
.passcodecontainer{
    display:none;
    flex-direction: column;
    background-color: #CF726B;
    width:40%;
    position:absolute;
    z-index:1;
    border-radius: 15px;
    height:40%;
    padding:30px;
    top:30%;
    left:30%;
    
}

.passcodecontainer{
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.ptext{
    text-align: center;
    color:#FAF6DF;
    margin-bottom:60px;
    font-size: 35px;
    font-family: "Raleway" Arial, Helvetica, sans-serif;
    font-weight: 600;

}

#passcode{
    width:90%;
    
    border-color: #793B36;

    height:45px;
   
    border-radius: 10px;

}

.passcodesubmit{
    width:18%;
    margin-left:75%;
    margin-top:50px;
    border-radius:25px;
    font-size:20px;
    background-color: #FAF6DF;
    padding:3px;
    border:none;
    color:#793B36;
    font-family: "Raleway";
    font-weight: 600;
}

/* location template*/
.progress1{
    display:flex;
    flex-direction: column;
    
    position:absolute;
    padding:20px; 
    
    margin-top:200px;

}

.bar{
    width:70px;
    margin-left:27px;
}

.bar_in{
    width:24px;
    height:50px;
    position: absolute;
    z-index:1;
    left:44px;
    top:255px;
    margin-left: 27px;


}

.text{
    text-align:center;
    margin-top:0;
    
    color:#066370;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
 
    
}
.amt{
    margin-bottom: 0px;
    margin-left:28px;
    font-size:45px;
    color:#066370;
    font-family: "Lucida Sans",Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.placename{
    color:#793B36;
    font-family:"Raleway",Arial, Helvetica, sans-serif; 
   text-align: center;
   font-size: 40px;
   margin-top:50px;
   margin-right:400px;
   font-weight: 100px;
}

/*NAV MENU*/
.menu {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 2;
    left: 0;
    top: 0;
    background-color: #FAF6DF;
    overflow-x: hidden; 
    transition: 0.5s;
  }
  
  .menuitems {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
  }
  
  .menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #870F06;
    display: block; 
    transition: 0.3s; 
  }
  
  .menu a:hover, .menu a:focus {
    color: #A7524B
  }
  
 
  .menu .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .menu a {font-size: 20px}
    .menu .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
.line{
    width: 50px;
    height: 5px;
    background-color: #006370;
    margin: 6px 0;
    margin-left:30px;
}
.close{
    color:#006370;
}
.endgame{
    display:flex;
    justify-content:flex-end ;
    align-items: flex-end;
    color:#FAF6DF;
    
    
}
.endbtn{
    border-radius:10px;
    padding-left:50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #793B36;
    color:#FAF6DF;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-weight:600;
    text-decoration: none;
    border:none;
    font-size:20px;
    margin: 10px;
}
.endbtn:hover{
    background-color: #A7524B;
}
.menugrp{
    display:flex;
    align-items: center;
    justify-content: center;
}
#menuline{
    color:#870F06;
    width:10%;
}
.menuimg{
    display:flex;
    align-items: center;
    justify-content: center;
}
#checklist{
    top:40%;
}

.linebg{
    display: none;
}

.checkbox{
    display: none;
    flex-direction: column;
    position: absolute;
    z-index:5;
    width:30%;
    top:280px;
    left:30%;
}
.square{
    width:80px;
    height:80px;
    background-color: #FFFBE0;
    border-color: #2D3463;
    border-width: 3px;
    margin-bottom: 70px;
    border-style: solid;
    
   
}

.list h3{
    text-align: left;
    margin-bottom: 100px;
    color:#2D3463;
    font-weight: 300;
}

.list{
    position:absolute;
    top:305px;
    left:40%;
    font-size: 40px;
    display:none;
    

}
/* reveal ans*/
img#ans{
    width:100%;
    margin-top: 20px;
    display:none;
    
}

.cross{
    background-color:#793B36;
    
    position:absolute;
    z-index:1;
    top:5%;
    width:70px;
    height:70px;
    margin-left:50px;
    top:55%;
    display:none;
    
  
}

.cross:before, .cross:after {
    position: absolute;
    
    left: 34px;
    content: ' ';
    height: 70px;
    width: 5px;
    background-color: #ffff;
  }
  .cross:before {
    transform: rotate(45deg);
  }
  .cross:after {
    transform: rotate(-45deg);
  }

/* quiz portion*/
.quiz{
    display:none;
    
    background-color:white;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    border-radius:20px;
    box-shadow: 6px 10px 5px rgba(0,0,0,0.3);
    color:#2D3463;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
}
  
.quizT{
 text-align: center;
 font-family: "Raleway",Arial, Helvetica, sans-serif;
 font-size:40px;
 color:#2D3463;
 display: none;
}
.quiz label{
    color:#2D3463;
    


}

.top{
    margin-top:0;
}

/* collection*/
.rays{
    width:40%;
    position:absolute;
    top:2%;
    left:10%;
    width:80%;
    animation-name: example;
    animation-duration: 2s;
    z-index: -1;
}

@keyframes example {
  0% {transform: rotate(0deg);}
  
  100%{transform: rotate(360deg);width:80%;left:10%;}
  
  

  
}

.bg{
    display:none;
    position:absolute;
    z-index: 1;
    height:100%;
    width:100%;
    background-color:#FFFBE0;
    top:0px;
    justify-items: baseline;
    
}